@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montreal";
  src: url("/fonts/Montreal/Montreal-Thin.otf"),
    url("/fonts/Montreal/Montreal-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montreal";
  src: url("/fonts/Montreal/Montreal-Regular.otf"),
    url("/fonts/Montreal/Montreal-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montreal";
  src: url("/fonts/Montreal/Montreal-Medium.otf"),
    url("/fonts/Montreal/Montreal-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montreal";
  src: url("/fonts/Montreal/Montreal-Bold.otf"),
    url("/fonts/Montreal/Montreal-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Khand";
  src: url("/fonts/Khand-Light.woff2") format("woff2"),
    url("/fonts/Khand-Light.woff") format("woff"),
    url("/fonts/Khand-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Khand";
  src: url("/fonts/Khand-Regular.woff2") format("woff2"),
    url("/fonts/Khand-Regular.woff") format("woff"),
    url("/fonts/Khand-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Khand";
  src: url("/fonts/Khand-Medium.woff2") format("woff2"),
    url("/fonts/Khand-Medium.woff") format("woff"),
    url("/fonts/Khand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Khand";
  src: url("/fonts/Khand-SemiBold.woff2") format("woff2"),
    url("/fonts/Khand-SemiBold.woff") format("woff"),
    url("/fonts/Khand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Khand";
  src: url("/fonts/Khand-Bold.woff2") format("woff2"),
    url("/fonts/Khand-Bold.woff") format("woff"),
    url("/fonts/Khand-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: Montreal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Khand;
}

h1 {
  font-size: 105px;
}

.banner_card {
  position: absolute;
}

.banner_card--1 {
  left: 6.09%;
  top: 8.61%;
  width: 13.48%;
}

.banner_card--2 {
  left: 8.59%;
  top: 62.03%;
  width: 17.08%;
}

.banner_card--3 {
  left: 30.78%;
  top: 0;
  width: 14.58%;
}

.banner_card--4 {
  left: 33.02%;
  top: 69.53%;
  width: 11.97%;
}

.banner_card--5 {
  left: 54.89%;
  top: 73.61%;
  width: 14.58%;
}

.banner_card--6 {
  left: 69.21%;
  top: 33.79%;
  width: 15.26%;
}

.banner_card--7 {
  left: 88.48%;
  top: 81.57%;
  width: 13.43%;
}

.banner_card--8 {
  left: 92%;
  top: 39.44%;
  width: 14.58%;
}

.banner_card--9 {
  left: 55%;
  top: 5%;
  width: 14.58%;
}

.banner_card img {
  aspect-ratio: 9/13;
  object-fit: cover;
}

.customTextBG {
  mix-blend-mode: difference;
  mask: url;
}

.mix-blend-text {
  mix-blend-mode: screen;
}

.clipped-video {
  -webkit-clip-path: url(#text-overlay);
  clip-path: url(#text-overlay);
}
svg#text_Header {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: Khand;
  font-size: 100px;
  font-weight: bolder;
}
